    <footer class="footer">
        <p><span class="footer__divider">&#169;2015 Greg Green</span></p>
        <p>
            <a href="http://delicious.com/greg5green" class="sm-icon sm-icon--delicious">Delicious</a>
            <a href="mailto:greggreen@gmail.com" class="sm-icon sm-icon--email">Email</a>
            <a href="http://github.com/greg5green" class="sm-icon sm-icon--github">GitHub</a>
            <a href="http://www.linkedin.com/in/greg5green" class="sm-icon sm-icon--linkedin">LinkedIn</a>
            <a href="http://stackoverflow.com/users/1883111/greg5green" class="sm-icon sm-icon--stack-overflow">Stack Overflow</a>
            <a href="http://www.twitter.com/greg5green" class="sm-icon sm-icon--twitter">Twitter</a>
        </p>
    </footer>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-22803713-8', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
