// Variables
$default-text: lighten(#000, 22%);
$forest-green: #134E13;

// Mixins
@mixin font-size($sizeValue, $heightValue) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
    line-height: $heightValue;
}

@mixin rem($fontSize) {
    font-size: ($fontSize * 10) + px;
    font-size: $fontSize + rem;
}
