---
title: Blog
---

{% include header.html %}
{% include sidebar.html %}

<section class="content content--posts">
    {% for post in paginator.posts %}
        <article class="post">
            <header class="post__header">
                <h2 class="post__title">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                <p class="post__time">
                    <small>
                        Posted on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y"}}</time>.
                    </small>
                </p>
            </header>
            <section class="post__entry">
                <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
            </section>

        </article>
    {% endfor %}

    <footer class="pagination">
        <div class="pagination-link pagination-link--previous">
            {% if paginator.next_page %}
                <div class="pagination-link-indicator">&laquo;</div>
                <a href="{{ paginator.next_page_path }}">Older Entries</a>
            {% endif %}
        </div>
        <div class="pagination-link pagination-link--next">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">Newer Entries</a>
                <div class="pagination-link-indicator">&raquo;</div>
            {% endif %}
        </div>
        <div class="clearfix">&nbsp;</div>
    </footer>
</section>

{% include footer.html %}
