---
title: Blog
---

{% include header.html %}
{% include sidebar.html %}

<section class="content content--post-listing">
    {% for post in paginator.posts %}
        <article class="post-listing">
            <header class="post-listing__header">
                <h2 class="post-listing__title">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                <p class="post-listing__date">({{ post.date | date: "%B %-d, %Y"}})</p>
            </header>
        </article>
    {% endfor %}

    <footer class="pagination">
        <div class="pagination-link pagination-link--previous">
            {% if paginator.next_page %}
                <div class="pagination-link-indicator">&laquo;</div>
                <a href="{{ paginator.next_page_path }}">Older Entries</a>
            {% endif %}
        </div>
        <div class="pagination-link pagination-link--next">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">Newer Entries</a>
                <div class="pagination-link-indicator">&raquo;</div>
            {% endif %}
        </div>
        <div class="clearfix">&nbsp;</div>
    </footer>
</section>

{% include footer.html %}
