body {
    padding: 2.4rem;
}

.site-container {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 96rem;

    @media #{$desktop-up} {
        justify-content: flex-end;
    }

    @media (min-width: 60rem) {
        padding: 4rem;
    }
}

.sidebar,
.content,
.footer {
    flex: 1 100%;
}

.sidebar {
    box-sizing: border-box;
    padding-right: 2.4rem;

    .sm-icons {
        display: none;
    }

    @media #{$desktop-up} {
        flex: 1 33%;

        .sm-icons {
            display: inherit;
        }
    }
}

.content {
    @media #{$desktop-up} {
        flex: 1 67%;
    }
}

.footer {
    @media #{$desktop-up} {
        flex-basis: 67%;
        flex-grow: initial;

        .sm-icons {
            display: none;
        }
    }
}
