body {
    padding: 2.4rem;
}

.site-container {
    display: flex;
    flex-flow: row wrap;

    @media #{$desktop-up} {
        justify-content: flex-end;
        margin: 0 auto;
        max-width: 960px;
    }
}

.sidebar,
.content,
.footer {
    flex: 1 100%;
}

.sidebar {
    @media #{$desktop-up} {
        flex: 1 33%;
    }
}

.content {
    @media #{$desktop-up} {
        flex: 1 67%;
    }
}

.footer {
    @media #{$desktop-up} {
        flex-basis: 67%;
        flex-grow: initial;
    }
}
