.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;

    p {
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer__divider {
    border-top: 1px solid lighten($default-text, 65%);
    display: inline-block;
    padding-top: 2.4rem;
}
