.header {

    // 19 = magic number - 5 pixels needed to pull content up after border-bottom in menu
    padding: 48px 0 19px 0;
    overflow: auto;

    a {
        &:hover {
            color: $forest-green;
        }
    }
}

.header__logo {
    background: url(/assets/images/logo.min.svg) no-repeat;
    float: left;
    line-height: 48px;
    padding: 0 10px 0 58px;
    font-size: 28px;
    text-shadow: 1px 1px rgba(red(darken(#fff, 30%)), green(darken(#fff, 30%)), blue(darken(#fff, 30%)), .5);
    width: 222px;

    a {
        text-decoration: none;
    }
}
