@mixin nav-item-hover {
    border-bottom: 5px solid rgba(red($forest-green), green($forest-green), blue($forest-green), 0.75);
    margin-bottom: -5px;
}

.nav {
    float: right;
}

.nav__item {
    border-bottom: 5px solid rgba(red($forest-green), green($forest-green), blue($forest-green), 0);
    display: inline-block;
    line-height: 3;
    padding: 0 10px;
    text-align: center;
    transition: border-color 0.2s ease-in-out;
    vertical-align: baseline;

    a {
        text-decoration: none;
    }

    &:hover {
        @include nav-item-hover;
    }
}

.nav__item--active {
    @include bold;
    @include nav-item-hover;
}
