.pagination-link {
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: middle;
    width: 380px;

    a {
        display: inline-block;
        vertical-align: middle;
        width: 360px;
    }
}

.pagination-link--previous {
    margin-right: 60px;
}

.pagination-link--next {
    text-align: right;
}

.pagination-link-indicator {
    display: inline-block;
    width: 15px;
    vertical-align: middle;
}

