{% include header.html %}
{% include sidebar.html %}

<section class="content content--posts">
    <article class="post">
        <header class="post__header">
            <h2 class="post__title">{{ page.title }}</h2>
            <p class="post__time">
                <small>
                    Posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y"}}</time>.
                </small>
            </p>
        </header>
        <section class="post__entry">
            {{ content }}
        </section>
        <footer class="pagination">
            <div class="pagination-link pagination-link--previous">
                {% if page.previous %}
                    <div class="pagination-link-indicator">&laquo;</div>
                    <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
                {% endif %}
            </div><!--
                hacky comment as easy fix for white space between inline-block elements
            --><div class="pagination-link pagination-link--next">
                {% if page.next %}
                    <a href="{{ page.next.url }}">{{ page.next.title }}</a>
                    <div class="pagination-link-indicator">&raquo;</div>
                {% endif %}
            </div>
            <div class="clearfix">&nbsp;</div>
        </footer>
        <section class="post__comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'gregorygreen',
                    disqus_title = '{{ page.title | escape }}',
                    disqus_url = 'http://www.greg5green.com{{ page.url }}';

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>
    </article>
</section>

{% include footer.html %}
